# OS generated #
._*
.DS_Store*
.Trash-*
*~

# Compiled #
*.war
*.jar
*.exe
*.app
*.dmg
*.zip
*.deb

# Runtimes #
protected/runtime/admin/*
protected/runtime/web/*

# Assets #
public/web/assets/*
public/web/promoter/home/*
public/admin/assets/*
